body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

img {
display: block;
}

h1, h2, h3, h4, h5, h6 {
    padding-left: 0;
    margin: 0 auto;
}

p {
    padding-left: 0;
    margin: 0 auto;
}

input {
    font-family: inherit;
    line-height: inherit;
}

fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    max-width: 288px;
    margin: 0 auto;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

/* Header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    /* margin-right: 76px; */
}

.accent-header {
    color: #2e2f42;
}

.nav-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.nav-list {
    display: none;
    /* display: flex;
    gap: 40px; */
}

.nav-link {
    font-weight: 500;
    color: #2e2f42;
    padding: 24px 0;
    display: inline-block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: transparent;

}

.nav-link:hover, .nav-link:focus {
    color: #404BBF;
}

.nav-link:hover::after,
.nav-link:focus::after {
    background-color: currentColor;
}

.nav-studio-link {
    color: #404BBF;
}

.nav-studio-link::after {
    background-color: currentColor;
}

.menu-mob-btn {
width: 24px;
height: 24px;
padding: 0;
border: none;
background-color: transparent;
}

.mob-menu {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 24px 24px 40px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-close-btn {
width: 24px;
height: 24px;
border: 1px solid #E7E9FC;
border-radius: 50%;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
margin-left: auto;
margin-bottom: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
fill: #2E2F42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close-btn:hover, .mob-close-btn:focus {
background-color: #404BBF;
}

.close-btn-icon:hover,
.close-btn-icon:focus {
fill: #fff;
}

.nav-mob-list {
    margin-bottom: 50px;
}

.nav-mob-item:not(:last-child) {
margin-bottom: 40px;
}

.nav-mob-link {
color: #2E2F42;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.04em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-mob-link:hover, .nav-mob-link:focus {
    color: #404BBF;
}

.nav-mob-studio-link {
    color: #404BBF;
}

.header-mob-contacts {
    font-style: normal;
    margin-bottom: 48px;
}

.mob-contact-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contact-link:hover,
.mob-contact-link:focus {
    color: #404BBF;
}

.mob-contact-item:not(:last-child) {
    margin-bottom: 24px;
}

.mob-socials-list {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 40px;
}

.mob-socials-link {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-socials-link:hover,
.mob-socials-link:focus {
    background-color: #404BBF;
}

.mob-socials-icon {
    flex-shrink: 0;
    fill: #F4F4FD;
}

.header-contacts {
    font-style: normal;
    display: none;
}

.header-contacts-list {
    display: flex;
    gap: 40px;
}

.header-contact-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: #404BBF;
}

/* Hero section */
.hero-section {
    background-color: #2E2F42;
    padding: 72px 0;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob.jpg);
    max-width: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mob-2x.jpg);
   }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.hero-title {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.04em;
    max-width: 288px;
    padding: 0 40px;
    /* max-width: 496px; */
}

.order-button {
    color: #fff;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover, .order-button:focus {
    background-color: #404BBF;
}

/* Features section */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.features-item {
width: 100%;
}

.features-icon-container {
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    padding: 24px 100px;
    height: 112px;
    display: none;
}

.features-icon {
    flex-shrink: 0;
}

.features-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.features-text {
    color: #434455;
    font-weight: 500;
}

/* Team section */

.team-section {
    background-color: #F4F4FD;
    padding-left: 28px;
    padding-right: 28px;
}

.team-section-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
}

.team-card {
    background-color: #fff;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-content {
    padding: 32px 0;

}

.card-name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.card-job {
    color: #434455;
    margin-bottom: 8px;
}

.card-socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card-socials-link {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-socials-link:hover, .card-socials-link:focus {
    background-color: #404BBF;
}

.card-socials-icon {
    flex-shrink: 0;
    fill: #f4f4fd;
}

/* Portfolio section */

.portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.04em;
    margin-bottom: 72px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.project-card {
    cursor: pointer;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    letter-spacing: 0.32px;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover .overlay {
    transform: translatey(0);
}

.project-card:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.project-description {
    border: 1px solid #F4F4FD;
    border-top: none;
    padding: 32px 16px;
}

.project-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.project-type {
    color: #434455;

}

/* Footer */
.page-footer {
    background-color: #2E2F42;
    padding-top: 97.5px;
    padding-bottom: 96px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 16px;
}

.accent-footer {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
}

.socials-container {
    width: 100%;
}

.socials-text {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
    text-align: center;
}

.footer-socials-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-socials-link {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover, .footer-socials-link:focus {
    background-color: #31D0AA;
}

.footer-socials-icon {
    flex-shrink: 0;
    fill: #f4f4fd;
}

.footer-subscribe-text {
    display: block;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-form-input {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
    width: 288px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: none;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0.3;
}

.footer-form-input:focus {
    border-color: #4D5AE5;
}

.footer-form-input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-form-btn:focus {
    background-color: #404BBF;
}

.footer-btn-icon {
    margin-left: 16px;
    fill: #f4f4fd;
}

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    width: 288px;
    min-height: 623px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: #FCFCFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    padding-top: 72px;
    padding-bottom: 24px;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
    background-color: #404BBF;
    border: none;
}

.close-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .close-btn-icon,
.modal-btn:focus .close-btn-icon {
    fill: #fff;
}

.modal-title {
    width: 100%;
    text-align: center;
    color: #2E2F42;
    font-weight: 500;
    margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    margin-bottom: 4px;
    color: #8E8F99;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
}

.form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.form-input:focus {
    border-color: #4D5AE5;
}

.form-input:focus + .modal-icon {
    fill: #4D5AE5;
}

.input-wrap {
    position: relative;
}

.modal-icon {
    fill: #2E2F42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-container {
    margin-bottom: 16px;
}

.form-comment {
    min-height: 120px;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
}

.form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.policy-check-container {
    margin-bottom: 24px;
}

.input-check-box {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(46, 47, 66, 0.40);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 2px;
}

.input-check:checked + .policy-text>.input-check-box{
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.policy-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.policy-modal-link {
    text-decoration-line: underline;
    color: #4D5AE5;
    line-height: 16px;
}

.form-btn {
    display: block;
    border: none;
    border-radius: 4px;
    background:#4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.04em;
    font-weight: 500;
    line-height: 1.5;
    color: #fff;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover, .form-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

    .nav-header {
        padding: 0 0;
        justify-content: left;
        gap: 120px;
    }

    .nav-list {
    display: flex;
    gap: 40px;
    }

    .header-contacts {
        display: block;
        
    }

    .header-contacts-list {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .menu-mob-btn {
        display: none;
    }

    .hero-section {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab-2x.jpg);
        }
    }

    .hero-container {
        gap: 36px;
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        padding: 0 0;
    }


    .features-title {
        text-align: left;
    }

    .features-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .features-item {
        width: calc((100% - 24px) /2);
    }

    .team-section {
        padding-left: 108px;
        padding-right: 108px;
    }

    .team-list {
        row-gap: 64px;
        column-gap: 24px;
    }

    .team-card {
        width: calc((100% - 24px) /2);
    }

    .project-list {
        row-gap: 72px;
        column-gap: 24px;
    }

    .project-card {
        width: calc((100% - 24px) /2);
    }

    .cashless-img {
        height: 296.663px;
    }

    .page-footer {
        padding-left: 108px;
    }

    .footer-container {
        align-items: baseline;
        column-gap: 24px;
    }        
    
    .footer-logo {
        display: inline-block;
    }
    
    .footer-text {
        max-width: 264px;
    }

    .socials-container {
        max-width: 208px;
    }

    .socials-text {
        text-align: left;
    }

    .form-container {
        width: 453px;
    }

    .footer-subscribe-text {
        text-align: left;
    }

    .footer-form-input {
        width: 264px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
        padding-left: 23px;
        padding-right: 25px;
    }
}   

@media screen and (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .nav-header {
        width: auto;
        display: flex;
        align-items: center;
    }

    .header-contacts {
        display: block;
    }

    .header-contacts-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
        font-size: 16px;
    }

    .hero-section {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-section {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
        }
    }
        
    .hero-container {
        gap: 48px;
    }
        
    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        padding: 0 0;
    }

    .features-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .features-item {
        width: calc((100% - 24px * 3) / 4);
    }

    .features-title {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
    }

    .features-text {
        font-weight: 400;

    }

    .team-section-title {
        letter-spacing: 0.02em;
    }

    .team-card {
        width: calc((100% - 24px*3) /4);
    }

    .portfolio-title {
        letter-spacing: 0.02em;
    }

    .project-card {
        width: calc((100% - 24px*2) /3);
        box-shadow: none;
    }

    .cashless-img {
        height: 300px;
    }

    .page-footer {
        padding-left: 0;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .footer-container {
        gap: 0;
    }

    .footer-logo-container {
        margin-right: 120px;
    }

    .socials-container {
        margin-right: 80px;
    }

    .footer-form-input {
        opacity: 1;
    }

    .modal {
        padding: 72px 24px 24px;
    }

    .policy-text {
        justify-content: left;
    }

}
